@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(120deg, rgb(187, 109, 255), rgb(255, 125, 255));
    /* background: linear-gradient(120deg, white, rgb(212, 179, 255)); */
}

.container {
    width: 400px;
}

.taskbar {
    padding: 15px 20px;
    width: 100%;
    background-color: rgb(185, 111, 255);
    border-radius: 8px 8px 0 0;
}

.taskbar p {
    color: white;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.new-task-container {
    height: 120px;
    background-color: white;
    width: 100%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.new-task-input {
    border: none;
    background-color: rgb(236, 236, 236);
    padding: 8px 15px;
    font-size: 17px;
    border-radius: 20px;
    width: 230px;
    color: rgb(122, 38, 201);
    font-family: 'Poppins', sans-serif;
}

.new-task-input:focus {
    outline: solid rgb(185, 111, 255) 2px;
}

.new-task-button {
    border: none;
    background-color: rgb(185, 111, 255);
    padding: 8px 20px;
    font-size: 16px;
    margin-left: 25px;
    color: white;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.tasks-container {
    background-color: white;
    width: 100%;
    margin-top: 15px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Utilities */
.error {
    outline: solid red 1px !important;
}

.error::placeholder {
    color: red;
}

.task-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px auto;
}

i {
    font-size: 20px;
    background-color: rgb(185, 111, 255);
    padding: 10px;
    color: white;
    border-radius: 5px;
}

i:hover {
    cursor: pointer;
}

.task-item p {
    font-size: 17px;
    color: rgb(122, 38, 201);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 70%;
}

.completed {
    text-decoration: line-through;
}